.button--icon {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-size: 24px;
    height: 32px;
    min-width: 32px;
    width: 32px;
    overflow: hidden;
    padding: 0;
}
.button--icon:hover {
    background-color: rgba(0,0,0,.1);
}