.button--text {
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    min-width: 64px;
    height: 36px;
    font-size: 14px;
}
.button--text:hover {
    background-color: rgba(0,0,0,.1);
}