.tabs {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--hn-primary-color);
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    text-transform: uppercase;
}
.tabs__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    color: rgba(255,255,255,.9);
}
.tabs__tab--active {
    color: var(--white);
    border-bottom: 3px solid var(--white);
}
.tabs__tab a {
    text-decoration: none;
    color: inherit;
}
.tabs__tab a:hover {
    color: var(--white);
}